{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}


{% block main %}
<div class="container py-5">
    <div class="container">
        <h2 class="mb-4 text-center">About us</h2>
    </div>
        <div class="container" id="about">
            <h5>Santa Monica - we are a family-owned pizzeria restaurant that proudly serves the best pizza in the town by our customer's reviews</h5>
            <p>Since our humble beginnings, our mission has been to bring people together over delicious, freshly made pizza crafted with love and the finest ingredients.</p>
            <p>Our recipes are inspired by tradition, perfected over time, and tailored to satisfy every taste. From classic favorites to unique creations, every pizza is made with a passion for quality and flavor.</p>
            <p>But Santa Monica is more than just great food – it’s about family, community, and creating a warm, welcoming space for everyone. Whether you're celebrating special moments or simply craving a slice of comfort, we’re here to make every visit memorable.</p>
            <p>Thank you for making us a part of your story. We can’t wait to welcome you to our table!</p>
        </div>
        <img class="about_img" src="/static/images/classic.avif">
</div>
{% endblock %}


