{% extends "layout.html" %}

{% block title %}
    Contact us
{% endblock %}


{% block main %}
<div class="container py-5">
    <div class="container">
        <h2 class="mb-4 text-center">Contact us</h2>
    </div>
        <div class="container" id="contact_us">
            <p>Welcome to our family-run Italian restaurant in the heart of Manchester, where great food and warm hospitality come together. We’d love to hear from you! Whether you’re planning a cozy dinner, celebrating a special occasion, or have any questions about our menu or services, we’re here to help.</p>
            <p>Our doors are open for you to enjoy a true taste of Italy in a relaxed and friendly atmosphere. Got a question or need assistance with reservations? Feel free to call, email, or visit us.</p>
            <p>You can also connect with us on social media for updates, special offers, and mouthwatering inspiration.</p>
            <p>We look forward to welcoming you soon and making your visit unforgettable!</p>
            <div class="home">
                <div class="content">
                    <p><strong>Enquiries:</strong></p>
                    <p>For all enquiries please telephone us on:</p>
                    <p><a href="tel:+441619755492">0161 975 5492</p></a>
                    <p>or email us:</p>
                    <p><a href="mailto:info@santamonica.co.uk">info@santamonica.co.uk</a></p>
                    <p><strong>Our address:</strong></p>
                    <p>The Pavilion, Byrom St,</p>
                    <p>Manchester,</p>
                    <p>M3 3HG</p>
                    <p><strong>Hours: </strong> 11:00 - 23:00, Monday - Sunday </p>
                    <a href="https://www.google.com/maps/place/The+Ivy+Spinningfields+Manchester/@53.479938,-2.2533308,589m/data=!3m1!1e3!4m6!3m5!1s0x487bb18c7261c181:0xf29c86f0c32dbfc1!8m2!3d53.4795505!4d-2.2515854!16s%2Fg%2F11f9vwnj0v?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D" class="hero-button">GET DIRECTIONS</a>
                </div>
                <img src="/static/images/wine.jpg">
            </div>
        </div>
</div>
{% endblock %}

