{% extends "layout.html" %}

{% block title %}
   Home
{% endblock %}


{% block main %}
    <div class="hero-section">
        <img src="/static/images/home.jpg" class="home_image">
        <p class="back"></p>
        <h1 class="welcome">Welcome to Santa Monica</h1>
        <div class="hero-text">
            <h2>Delicious Food & Wonderful Eating Experience</h2>
            <h2>We Serve Food, Harmony, & Laughter Since 2020</h2>
            <a href="/menu" class="hero-button">VIEW MAIN MENU</a>
        </div>
    </div>
        <div class="home">
            <div class="content">
                <h1>Savor the Heart of Flavor</h1>
                <p>At Santa Monica, we’re dedicated to making every visit special. Our cozy and welcoming atmosphere is the perfect backdrop for enjoying delicious meals and heartfelt hospitality. Join us for a culinary experience that’s all about savoring life’s simple pleasures together.</p>
                <a href="/about" class="hero-button">DISCOVER MORE</a>
            </div>
            <img src="/static/images/interior.webp">
        </div>
        <div class="home">
            <img class="wine" src="/static/images/wine.jpg">
            <div class="content">
                <h1>OUR CULINARY PHILOSOPHY</h1>
                <p>Fresh, flavorful, and authentic. At Santa Monica, we craft every dish with love, using the finest ingredients and cherished family recipes. Our promise is to deliver meals that bring people together and celebrate the warmth of home-cooked traditions.</p>
                <a href="/about" class="hero-button">LEARN MORE</a>
            </div>
        </div>
        <div class="home">
            <div class="content">
                <h1>VISIT OUR RESTAURANT</h1>
                <p>At Santa Monica, our guests are family. Let us welcome you with open arms and a table full of delicious memories waiting to be made.</p>
                <p>The Pavilion, Byrom St, Manchester, M3 3HG</p>
                <p>Tel: 0161 975 5492</p>
                <p>Email: <a class="email" href="mailto:info@santamonica.co.uk">info@santamonica.co.uk</a></p>
                <a href="https://www.google.com/maps/place/The+Ivy+Spinningfields+Manchester/@53.479938,-2.2533308,589m/data=!3m1!1e3!4m6!3m5!1s0x487bb18c7261c181:0xf29c86f0c32dbfc1!8m2!3d53.4795505!4d-2.2515854!16s%2Fg%2F11f9vwnj0v?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D" class="hero-button">GET DIRECTIONS</a>
            </div>
            <img src="/static/images/table.jpg">
        </div>



{% endblock %}
